<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!-- common -->
    <add key="ConfigPath" value="C:\Kiosk\Library"/>
    <add key="ConfigApp" value="ConsoleHeartBeat.exe"/>    <!--Using ConsoleHeartBeat.exe.config for Centralized configuration -->
    <add key="LEDslot" value="6"/>    <!--2,4,6,8,10,12,... -->
    <add key="Debug" value="true"/>    <!--true | false-->
    <add key="ReadConsole" value="false"/>    <!--true | false-->
    <add key="LEDduration" value="10"/>    <!--Seconds-->
    <!-- common -->
    
    <add key="PrintorTimeout" value="10"/>
    <!--<add key="PrinterName" value="CUSTOM VKP80 II"/>-->
    <add key="PrinterName" value="CUSTOM VKP80 II"/>

  </appSettings>
</configuration>
